.button {
  font-size: 2.0rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}
.button:hover {
  color: green;
  border: 1px solid green;
  background-color: white;
}
